.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-width: 1024px;
}
.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__productContainer {
  display: grid;
  z-index: 1;
  grid-template-rows: repeat(3, 1fr [row]);
  grid-template-columns: repeat(3, 1fr[col]);
  margin: 20px;
  column-gap: 20px;
  row-gap: 20px;
}
